.profile {
	width: 250px;
	align-items: center;
	margin: auto;
	border: 2px solid #d8e0ea;
	box-shadow: 0 0 5px;
	background: #ffffff;

	margin-top: 15px;
	margin-left: 15px;
}

.description {
	padding-top: 20px;
	width: 250px;
	height: auto;
}

.avatar {
	display: block;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.name {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin-top: 10px;
}

.tag {
	font-size: 14px;
	color: #70767e;
	text-align: center;
	margin-top: 10px;
}

.location {
	font-size: 14px;
	color: #70767e;
	text-align: center;
	margin-top: 10px;
}

.stats {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-top: 15px;
	background-color: #f3f6f9;
	border-radius: 0 0 5px 5px;
}

.list {
	flex-direction: column;
	align-items: center;
	border: solid 1px #d8e0ea;
	width: 85px;
}

.label {
	color: #97a2ae;
	padding-top: 22px;
	font-size: 12px;
	display: flex;
	justify-content: center;
}

.quantity {
	padding-bottom: 22px;
	line-height: 1.2;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	justify-content: center;
	margin-top: 5px;
}
